/* ========================= */
/* ESTILOS GENERALES         */
/* ========================= */
.background {
  -fx-background-color: #f3f4f6;
}

.text-field {
  -fx-border-color: #7baff0;
  -fx-font-family: "Segoe UI", sans-serif;
  -fx-padding: 6 8;
  -fx-font-size: 14;
  -fx-background-color: #fff;
  -fx-text-fill: #0f172a;
  -fx-border-width: 1.5;
}

.button {
  -fx-background-color: linear-gradient(to bottom, #60a5fa, #2563eb);
  -fx-text-fill: #ffffff;
  -fx-font-weight: 800;
  -fx-font-size: 16;
  transition: 500ms;
}

.button:hover {
  -fx-cursor: hand;
  -fx-background-color: #60a5fa;
}

.title {
  -fx-text-fill: #ffffff;
  -fx-font-weight: 700;
  -fx-font-family: "Segoe UI", sans-serif;
  -fx-font-size: 50;
  -fx-padding: 8 0 8 0;
}


.slogan {
  -fx-background-color: linear-gradient(to right, #2563eb, #60a5fa);
  -fx-text-fill: #fff;
}

.btnStock{
           -fx-font-family: "Segoe UI", sans-serif;
           -fx-font-weight: 900;
           -fx-background-radius: 10;
           -fx-cursor: hand;
           -fx-effect: dropshadow(gaussian, rgba(30, 41, 59, 0.08), 4, 0, 0, 2);
     -fx-border-width: 0;
}

.inputForm {
  -fx-font-weight: 600;
}